.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 40px;
	@media (max-width: 767.98px) {
		min-height: 5px;
	}
	&._scroll {
		.header__wrapper {
			background-color: rgba($color: #fff, $alpha: 0.8);
			@media (any-hover: hover) {
				&:hover {
					background-color: rgba($color: #fff, $alpha: 0.9);
				}
			}
		}
		.header__body {
			min-height: 50px;
			@media (min-width: 991.98px) {
				min-height: 70px;
			}
		}
	}

	//wrapper для фиксации шапки 
	&__wrapper {
		transition: background-color 0.3s ease;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 50;
		width: 100%;
	}
	&__body {
		display: flex;
		align-items: center;

		padding: 5px 0;
		min-height: 125px;

		position: relative;

		transition: min-height 0.3s ease;
		@media (max-width: 991.98px) {
			min-height: 80px;
		}
		@media (max-width: 767.98px) {
			min-height: 60px;
		}
	}

	&__main {
		display: flex;
		align-items: center;
		flex: 0 0 494 / 1240 * 100%;
		@media (max-width: 991.98px) {
			flex: 1 1 auto;
		}
	}

	&__logo {
		font-size: 24px;
		line-height: 1.21;
		font-weight: 700;
		color: #000;
		position: relative;
		z-index: 5;
	}

	&__menu {
		flex: 0 1 420px;
	}

	&__search {
		padding-right: 32px;
		@media (min-width: 991.98px) {
			flex: 1 1 auto;
		}
		@media (max-width: 991.98px) {
			padding-right: 24px;
		}
		@media (max-width: 767.98px) {
			padding-right: 15px;
		}
		@media (max-width: 320px) {
			padding-right: 12px;
		}
	}
}