.menu-footer {
	@media (min-width: 767.98px) {
		display: flex;
	}
	&__colunm {
		@media (min-width: 767.98px) {
			flex: 0 0 33.3333%;
		}
		@media (max-width: 991.98px) {
			margin-bottom: 20px;
		}
		@media (max-width: 767.98px) {
			margin-bottom: 15px;
		}
	}
	&__title {
		cursor: default;
		@media (min-width: 767.98px) {
			margin-bottom: 16px;
		}
		._init & {
			display: flex;
			width: 100%;
			justify-content: space-between;
			flex-direction: row-reverse;
			@extend .icon-down-arrow;
			&::before {
				@extend %ic;
				font-size: 14px;
				transition: transform 0.3s ease;
			}
		}
		&._active {
			&::before {
				transform: rotate(-180deg);
			}
		}
	}
	&__list {
		li {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		@media (max-width: 767.98px) {
			padding-top: 15px;
		}
	}
	&__link {
		font-weight: 500;
		line-height: 1.2;
		color: $darkGrayColorGray3;
		transition: color 0.3s ease;
		@media (any-hover:hover) {
			&:hover {
				color: $orangeColorPrimary;
			}
		}
	}
	
}