@import "fonts.scss";
@import "icons.scss";

// ------Vars------ 
$fontFamily: "Gilroy";
$fontSize: 16;

$mainColorGray1: #3A3A3A;
$darkGrayColorGray3: #898989;
$grayColorGray2: #616161;
$orangeColorPrimary: #E89F71;

$maxWidth: "1440px";
$maxWidthContainer:"1270px";
//------Vars-End------ 

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: $fontFamily;
	font-weight: 400;
	font-size: $fontSize;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	object-fit: cover;
}

.container {
	max-width: $maxWidthContainer;
	padding: 0 15px;
	margin: 0 auto;
}




