.subscribe {
	&__title {
		margin-bottom: 16px;
	}

	&__form {
		display: flex;
	}
	&__button {
		flex: 0 0 45px;
		height: 45px;

		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		background-color: $orangeColorPrimary;
		transition: background-color 0.3s ease;
		cursor: pointer;
		color: #fff;

		margin-left: 4px;
		@media (any-hover: hover) {
			&:hover {
				background-color: #be825c;
			}
		}
	}
	.input {
		width: 100%;
		padding: 0 12px;
		color: $darkGrayColorGray3;
		background-color: #F4F5F7;

		border: none;
	}
}